.root {
	-fx-font-family: "Comic Sans MS" ;	
	-fx-background-color: lightgoldenrodyellow ;
}
.hangman-board {
	-fx-background-color: white ;
	-fx-padding: 15px ;
	-fx-alignment: center ;
}

.hangman-board > .board-grid {
	-fx-background-color: white ;
	-fx-border-color: transparent ;
}

.hangman-board .label:disabled {
	-fx-opacity: 1.0 ;
}

.hangman-board > .board-grid > .label {
	-fx-font-size: 128pt ;
}

.status {
	-fx-font-size: 18pt ;
	-fx-text-fill: white ;
}

.bluebg {
	-fx-background-color: #15c0ff;
}

.greenbg {
	-fx-background-color: #207b80;
}